[submodule "third_party/btleplug"]
	path = third_party/btleplug
	url = https://github.com/windwerfer/btleplug
	ignore = all

[submodule "third_party/muse-rs"]
	path = third_party/muse-rs
	url = https://github.com/eugenehp/muse-rs
	ignore = all

[submodule "third_party/reve-rs"]
	path = third_party/reve-rs
	url = https://github.com/windwerfer/reve-rs
	ignore = all

[submodule "third_party/luna-rs"]
	path = third_party/luna-rs
	url = https://github.com/windwerfer/luna-rs
	ignore = all

[submodule "third_party/neurosity-ble-rs"]
	path = third_party/neurosity-ble-rs
	url = https://github.com/windwerfer/neurosity-ble-rs
	ignore = all

[submodule "third_party/brainflow"]
	path = third_party/brainflow
	url = https://github.com/brainflow-dev/brainflow
	ignore = all
